#inp1{
    border: none;
    outline: none;
}
#inp2{
    border: none;
    outline: none;
}

.input1 {
    color: #494949;
    font-size: 20px;
    padding: 41px;
    font-family: 'GmarketSansMedium';
    box-sizing: border-box;
    position: absolute;
    width: 508px;
    height: 80px;
    background-color: #e8e8e8;
    border: 1px solid #E8E8E8;
    border-radius: 16px;
}
.input1:focus {
    border: 1px solid #e8e8e8;
    outline: none;
    display: flex;
    justify-content: left;
    align-items: center;
}
.input2:focus {
    border: 1px solid #e8e8e8;
    outline: none;
    display: flex;
    justify-content: left;
    align-items: center;
}
.input2 {
    color: #494949;
    font-size: 20px;
    padding: 41px;
    font-family: 'GmarketSansMedium';
    margin-top: 100px;
    box-sizing: border-box;
    position: absolute;
    width: 508px;
    height: 80px;
    background-color: #e8e8e8;
    border: 1px solid #e8e8e8;
    border-radius: 16px;
}

#btnsignup {
    position: absolute;
    display: grid;
    grid-template-columns: 105px 37px 70px;
    width: 280px;
    height: 24px;
    left: 1328px;
    top: 633px;
    font-size: 16px;
}

.sign {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pass {
    font-size: 16px;
    text-align: center;
    color: #777777;
}
#pass:hover {
    cursor: pointer;
}

#line {
    text-align: center;
    color: #A4A4A4;
}

#signup {
    font-size: 16px;
    text-align: center;
    color: #494949;
}
#signup:hover{
    cursor: pointer;
}

#loginbtn {
    position: absolute;
    width: 508px;
    height: 80px;
    left: 1186px;
    top: 697px;
    background-color: #494949;
    border-radius: 16px;
    font-size: 24px;
    color: #FBFBFB;
}