#minilogin {
    color: #5362CA;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 24px;
    gap: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: absolute;
    width: 100px;
    height: 48px;
    left: 1770px;
    top: 40px;
    background: rgba(83, 98, 202, 0.1);
    border-radius: 116px;
}

#text {
    position: absolute;
    width: 320px;
    height: 36px;
    left: 1196px;
    top: 415px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    /* g7 */
    color: #494949;
}

.detailaddress:focus {
    border: none;
    outline: none;
}

.detailaddress {
    text-indent: 40px;
    position: absolute;
    width: 488px;
    height: 80px;
    left: 1196px;
    top: 591px;
    background-color: #F4F4F4;
    border-radius: 16px;
    font-size: 20px;
    color: #A4A4A4;
    border: none;
    display: flex;
    align-items: center;
}

#nextbtn {
    position: absolute;
    width: 488px;
    height: 80px;
    left: 1196px;
    top: 731px;
    background-color: #494949;
    border-radius: 16px;
    font-size: 20px;
    color: #FBFBFB;
    border: none;
}

#nextbtn2 {
    position: absolute;
    width: 488px;
    height: 80px;
    left: 1196px;
    top: 731px;
    background-color: #494949;
    border-radius: 16px;
    font-size: 20px;
    color: #FBFBFB;
    border: none;
}

#linestep {
    position: absolute;
    width: 425px;
    height: 3px;
    left: 1231px;
    top: 261px;
}

#text1 {
    position: absolute;
    width: 62px;
    height: 26px;
    left: -34px;
    top: 28px;
    color: #494949;
}

#text2 {
    position: absolute;
    width: 78px;
    height: 26px;
    left: 168px;
    top: 28px;
    color: #494949;
}

#text3 {
    position: absolute;
    width: 62px;
    height: 26px;
    left: 391px;
    top: 28px;
    color: #494949;
}

.circle {
    position: absolute;
    width: 36px;
    height: 36px;
    left: -35px;
    top: -16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 50%;
    color: #FF617D;
    border: 1px solid #FFD0D9;
}

#circle1 {
    background-color: #FF617D;
    color: #FBFBFB;
    border: none;
}

#circle2 {
    left: 188px;
}

#circle3 {
    left: 414px;
}